<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.goshoppingonline">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoShoppingOnline">
        <activity
            android:name=".allActivities.Dashboard"
            android:exported="false" />
        <activity
            android:name=".allActivities.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".allActivities.dashboard"
            android:exported="false"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name=".allActivities.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name=".mainActivities.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".mainActivities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".mainActivities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".mainActivities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainActivities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".mainActivities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".mainActivities.MainActivity"
            android:exported="true" />
    </application>

</manifest>